body {
	width:1200px;
	color:#818181;
	font-family:Candara, sans-serif;
    font-size:14px;
	margin:0 auto;
}

h1, p, ul, li  {
	margin:0;
	padding:0;
}

div.all {
    height:1500px;
	background-image:linear-gradient(180deg, #a0a3a4,  #fcfcfc 410px);
}

div.wrapper{
 	overflow:hidden;
	height:465px;
    background-image:url(../images/shapka.jpg);
	background-color:#0f211e;
	margin:0 auto;
}

div.header {
    width:920px;
	margin:0 auto;
}

.header h1 {
	float:left;
    color:white;
    font-family:Bebas;
    text-shadow:0 2px 1px black;
	font-size:40px;
    font-weight:400;
	margin:28px 0 0 0;
}

a {
	text-decoration:none;
}	

.top-menu a {
	color:#1ea4b2;
    font-family:Arial;
    padding:8px 12px 10px;
}

.top-menu a:hover {
	opacity:0.8;
	background-image:linear-gradient(0deg, #066685, #7f9296);
}

.top-menu li	{
    display:inline-block;
}

.top-menu ul {
	float:right;
	margin-top:49px;
	margin-right:-12px;
}

ul, li {
	list-style-type:none;	
}	

div.hello {
	clear:both;
	margin-top:86px;
	float:left;
	height:276px;
	width:310px;
}

p.hello {
	color:#fbf9f9;
    font-family:Bebas;
    font-size:40px;
}

p.you {
	color:#fbf9f9;
    font-family:Arial;
    font-size:30px;
	text-transform:uppercase;
}

p.we {
	margin-top:20px;
	color:#1ea4b2;
    font-family:Arial;
}

div.slaider {
	position:relative;
	float:right;
	width:580px;
	height:295px;
	margin-top:50px;
}

div.prev {
	position:absolute;
	opacity:0.5;
	width:48px;
	height:48px;
	margin-top:-24px;
	background-color:black;
	top:50%;
	background-image:url(../images/left.png);
	background-repeat:no-repeat;
	background-position:center;
}

div.next {
	position:absolute;
	opacity:0.5;
	width:48px;
	height:48px;
	margin-top:-24px;
	background-color:black;
	top:50%;
	right:0px;
	background-image:url(../images/right.png);
	background-repeat:no-repeat;
	background-position:center;
}

div.podpis {
	position:absolute;
    width:580px;
    height:91px;
    opacity:0.5;
	background-color:black;
	bottom:0px;
}

div.podpis p {
	padding:34px 0 0 57px;
	color:#fbf9f9;
    font-family:Arial;
    font-size:20px;
}

ul.knopki {
	margin:12px 0 0 675px;
}

.knopki li {
	display:inline-block;
	padding-left:16px;
}
	
.knopki li a{
	width:20px;
    height:20px;
    border-radius:10px;
    background-color:#9e9999;
	display:block;
}

.knopki li a:hover{
    background-color:#606464;
}

div.liner_1 {
	margin-top:25px;
	height:1px;
	background-image:linear-gradient(270deg, #fff, #7c7f7f, #fff);
}


div.info {
	margin:37px auto 0 auto;
	width:920px;
	text-align:center;
}

 div.info_1, div.info_2, div.info_3 {
	display:inline-block;
	text-align:left;
	width:290px;
 }
 
div.info_1 {
	float:left;
 }
 
 div.info_3 {
	float:right;
 }

p.info_1, p.info_2, p.info_3 {
	display:inline-block;
	margin:-30px 0 0 50px;
	color: #272727;
    font-size: 18px;
    font-weight: 700;
}

p.info_t1, p.info_t2, p.info_t3 {
	margin-top:5px;
	font-weight:700;
	width: 290px;
	height:97px;
 }

button.read{
	margin-top:32px;
	color:#7d7d7d;
	background-image:linear-gradient(to bottom, #fff,  #c9c6c6);
	border-radius:10px;
	height:25px;
	border:solid 1px #818181;
}

div.info_img {
	margin:60px auto 0 auto;
	width:920px;
	text-align:center;
 }
 
 div.info_img  img{
	border:solid 3px #7c7f7f;
 }
 
div.img_1, div.img_2, div.img_3 {
	display:inline-block;
	width:290px;
	text-align:left;
 } 
 
 div.img_1 {
	float:left;
 }

 div.img_3 {
	float:right;
 }
 
 p.img_1, p.img_2, p.img_3 {
	display:inline-block;
	margin:20px 0;
	color: #272727;
    font-size: 18px;
    font-weight: 700;
}

p.img_t1, p.img_t2, p.img_t3 {
	font-weight:700;
	width: 288px;
	height:97px;
 }

div.twit {
	width:920px; 
	margin:20px auto 0 auto;
}

 div.tw1, div.tw2, div.tw3 {
	display:inline-block;
	vertical-align:middle;
} 

div.tw3 {
	margin-top:15px;
	float:right; 
}

button.tw {
	height:47px;
	width:200px;
	background-image:linear-gradient(to bottom, #fff, #b6b2b2);
	border:1px solid #cccbcb;
}

.tw2 p {
	padding-left:28px;
	font-size: 18px;
    font-weight: 700;
}

p.tw_2 {
	color: #272727;
}

footer {
	margin:11px auto 0 auto;
	height:106px;
    background-color: rgba(13, 36, 34, 0.98);
}

div.footer {
	width:920px;
	margin:0 auto;
	padding-top:27px;
}

.footer a, .footer p{
	color: #1ea4b2;
    font-family:Arial;
}

.footer a:hover {
    color:#1f5c62;
}

.footer-menu li, div.ft_1, div.ft_2  {
	display:inline-block;
}

.footer-menu li {
	padding-right:12px;	
}

div.ft_2 {
	float:right;
}
