html, body, img, form,  input, button, textarea, h1, h2, h3, a, p, ul, li  {
	margin:0;
	padding:0;
}

ul, li {
	list-style-type:none;
}
.wrapper{
	position: absolute;
	top: 40px;
	left: 40px;
	width: 654px;
	height: 565px;
	font-size: 15px;
}
header {
	top: 0;
	left: 0;
	position: absolute;
	width: 654px;
	height: 108px;
	background: #457679;
	box-shadow: 9px 10px 14px -9px #000000;
}

.time{
	font-size: 12px;
	margin-top: 15px;
	margin-left: 18px;
	color: white;
}
.pers-private {
	font-size: 15px;
	margin-top: 15px;
	margin-left: 18px;
}
.pers-private a{
	color: white;
}
.private-mess span{
	margin-left: 5px;
}
.logo {
	position: absolute;
	top: 3px;
	right: 10px;

}

.user-chat{
	position: absolute;
	top: 145px;
	left: 0;
	width: 172px;
	height: 351px;
	background: #457679;
	box-shadow: 9px 10px 14px -9px #000000;
}
.departed {
	color:orange;
}
p.online-user{
	font-size: 10px;
	margin-top: 2px;
	margin-left: 8px;
	color: white;
}

div.list-uder{
	margin:8px auto;
	width: 150px;
	height: 319px;
	background: #fff;
}

.list-uder ul{
	position: absolute;
	top:28px;
	margin-left:8px;
	
}


div.chat{
	position: absolute;
	top: 119px;
	right: 0;
	width: 472px;
	height: 283px;
	background: #fff;
}
.chat-main a, .chat-with a, .chat-with1 a, ul.format-message a{
	text-decoration:none;
	color:black;
}



ul.chat-all{
	overflow:hidden;
	margin-left: 4px;
}

ul.chat-all a{
	display: block;
	float:left;
	border-top:solid 1px #cecbcb;
	border-left:solid 1px #cecbcb;
	line-height: 25px;
	text-align: center;
	padding: 0 10px;
}

li.active a{
	background: #457679;
	color: white;
}

ul.chat-all a:hover {
	background: #457679;
	color: white;
}


ul.chat-all li:hover a.close{
	background: #457679;
	color: white;
}

.chat-with a.close, .chat-with1 a.close {
	padding: 0 2px;
	border-left:none;
}

.chat-with1 a.close{
	border-right:solid 1px #cecbcb;
}

ul.chat-all li:hover a.close:hover{
	background: red;
	font-weight: bold;
}

.chat-online-wr{
	width: 470px;
	height: 264px;
	background: #fff;
	border:solid 1px #cecbcb;
}
 
div.chat-online{
	position: absolute;
	bottom: 0px;
	left: 10px;
	width: 462px;
	height: 253px;
}

span.author{
	font-weight: bold;
	text-decoration:underline;
}

span.chat-message{
	margin-left: 5px;
}

.input-message{
	position: absolute;
	bottom: 71px;
	right: 0;
	width: 472px;
	height: 75px;
}

div.text-messege textarea {
	display: block;
	overflow: auto;
	width: 460px;
	height: 65px;	
	border:solid 1px #cecbcb;
	padding-left:10px;
	padding-top:10px;
}

ul.format-message{
	overflow:hidden;
	position:absolute;
	margin-left:130px;
}

ul.format-message li{
	display: block;
	float:left; 
	text-align: center;
}
ul.format-message a{
	display: block;
	width:20px;
	border-left:solid 1px #cecbcb;
	padding: 0px 0px;
	background: #457679;
	color: white;
}
li.format-fat a{
	font-weight: bold;
}

li.format-italics a{
	font-style:italic;	
}

li.format-underline a{
	border-right:solid 1px #cecbcb;
	text-decoration:underline;
}

li.format-link a:last-child{
	border-right:solid 1px #cecbcb;
	width:40px;
	margin-left:20px;
}


form.send-message {
	position:absolute;
	top:85px;
	right:0px;
}

form.send-message input{
	width: 150px;
	height: 25px;
	background: #457679;
	box-shadow: 9px 9px 9px -9px #000000;
	color: white;
}
div.entered-message {
	position:absolute;
	bottom:0px;
	left:182px;
	font-size: 13px;
	font-weight: 200;
}